*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #2c2c2c;
  padding: 2rem;
}

h1 {
  font-size: 5rem;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid;
  padding: 0.5rem 1rem;
}

input {
  width: 100%;
  height: 3rem;
  border: 1px solid #d1d1d1;
}

.navbar {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d8d8d8;
}

.navbar__content {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.navbar__content div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__cta {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.6rem;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  display: none;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
}

/* INFO */
.info {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin: 5rem auto 3rem auto;
}

.box {
  text-align: center;
}

.box i {
  font-size: 5rem;
  opacity: 0.7;
}

.box p {
  font-size: 3rem;
}

.box--1 i {
  color: green;
}

.box--2 i {
  color: midnightblue;
}

.box--3 i {
  color: goldenrod;
}

/* TRANSACTIONS */
.transactions {
  height: 60rem;
  width: 100%;
  border: 1px solid #e6e6e6;
  font-size: 1.6rem;
}

.transactions-body {
  overflow-y: auto;
}

.transactions tr {
  width: 100%;
  padding: 1rem;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.transactions td,
.transactions th {
  width: 25%;
  text-align: left;
}

.transactions td:last-child {
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.transactions tr div {
  display: flex;
  gap: 2rem;
}

.transactions tr:nth-child(even) {
  background-color: transparent;
}

.expense .transaction-amt {
  color: rgb(194, 66, 91);
}

.loan .transaction-amt {
  color: rgb(54, 124, 54);
}

/* FORMS */
.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 60rem;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 4rem;
  font-size: 2.5rem;
}

.form--1 {
  border: 1px solid purple;
}

.form--1 button {
  border-color: purple;
  color: purple;
}

.form--2 {
  border: 1px solid green;
}

.form--2 button {
  border-color: green;
  color: green;
}

@media (max-width: 1400px) {
  .main,
  h1 {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .heading {
    flex-direction: column;
  }

  .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .transactions {
    width: 100%;
  }

  .forms {
    width: 100%;
  }

  .form {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem auto;
  }

  h2 {
    font-size: 2rem;
    font-weight: 100;
  }

  .box i {
    font-size: 3rem;
  }

  .box p {
    font-size: 2rem;
  }

  .form {
    padding: 2rem;
    font-size: 2rem;
  }
}

.budget-err,
.transaction-err,
.transaction-name-err,
.transaction-date-err {
  font-size: 1.2rem;
  color: #dc143c;
  display: none;
}

.transaction-form__radio-btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.transaction-form__radio-btns div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login__content {
  border: 1px solid #2c2c2c;
  padding: 2rem;
  width: 70rem;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 25vh;
}

.login__content h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login__input-box {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar__cta {
  display: none;
}

.delete-btn,
.edit-btn {
  cursor: pointer;
}

.swal-custom-class,
.custom-toast-class {
  font-size: 150% !important;
}

.transactions__container {
  width: 80%;
}

thead {
  background-color: #1c87c9;
  color: #ffffff;
  display: table-header-group;
}

thead tr {
  background-color: transparent !important;
}

.transactions-cta {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.transactions-cta select {
  width: 25%;
}

#curr-budget {
  color: rgb(75, 75, 75);
}

#expenses {
  color: #d83232;
}

#balance {
  color: green;
}

.transactions-date {
  color: rgb(102, 102, 102);
}

.transactions th:nth-child(3),
.transactions td:nth-child(3) {
  width: 40%;
}

.dollar-price {
  width: 30rem;
  border: 1px solid rgb(218, 218, 218);
  color: rgb(107, 107, 107);
  padding: 2rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 3px;
}

.dollar-price span {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: -2rem;
}
